body,
html {
  /* height: 100%; */
  margin: 0;
  padding: 0;
  /* background: #27225b; */
  display: flex;
  flex-grow: 1;
  height: 100%;
}

#root {
  display: flex;
  flex-grow: 1;
  height: 100%;
}

#meme-container {
  position: relative;
  text-align: center;
  color: white;
}
#img-text {
  font-weight: 900;
  font-family: "Impact";
  text-transform: uppercase;
  -webkit-text-stroke: 1px black;
  font-size: 32px;
  padding: 16px;
  position: absolute;
  bottom: 10px;
}

#img-src {
  border: 5px solid #000;
}

#canvas-container {
  width: 50%;
}
canvas {
  background: #000;
  margin: auto;
  width: 1136px;
  height: 670px;
  display: block;
}
